// Body padding to push down content when fixed nav bar is used
body
    padding: 0 0 0 0
    background-color: white
    
a
    color: $link-color
    text-decoration: none
    
a:hover
    color: $link-color-hover
    text-decoration: none