<!-- Footer starts here -->
<footer class="foot-conf">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="col-md-4">
            <address>
              <strong>Aniela Nowak</strong><br>
              24 Baker Street<br>
              London<br>
              UK
            </address>
          </div>
          <div class="col-md-4">
            <address>
              <strong>Say Hello</strong><br>
              <a href="tel:+353 858-424-726"><span class="glyphicon glyphicon-phone"></span> (353) 858-424-726<br></a>
              <a href="mailto:#">anielka.nowak77@gmail.com</a>
            </address>
          </div>
          <div class="col-md-4">
            <address>
              <strong>Connect</strong><br>
              <a href="https://www.facebook.com/LillyBlackPhotography/" title="LillyBlackPhotography" target="_blank"<i class="fa fa-facebook-official fa-2x"></i></a> 
            </address>
          </div>
        </div>
        <!--./row-->
      </div>
      <!--./col-md-8 col-md-offset-2 -->
    </div>
    <!--./row-->
  </div>
  <!--./container -->
  <div class="row">
    <div class="col-md-12">
    <small>Aniela Nowak © 2016</small>
    </div>
  </div>
</footer>