<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"></span></a>
            </div>
            <div class="inner-nav">
                <ul class="nav navbar-nav">
                    <li><a href="/about">About Me</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/testimonials">Testimonials</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
