<div class="container-fluid nav-conf" role="navigation">
  <!-- Brand image -->
  <div class="brand-image">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <a href="/"><img src="/assets/img/brand-img-01.jpg" alt="Brand Image" title="Home" class="img-responsive"></img></a>
      </div>
    </div>
  </div>
  <!-- Nav links -->
  <nav class="navbar navbar-inverse">
        <ul class="nav navbar-nav">
          <li><a href="/cultural-animation">Cultural Animation</a></li>
          <li><a href="/stage">Stage</a></li>
          <li><a href="/photography">Photography</a></li>
        </ul>
    <!--/.nav-collapse -->
  </nav>
</div>
